/* You can add global styles to this file, and also import other style files */
$darkLight-color : #181a1b;

html, body {
  margin: 0;
  padding: 0;
  background-color: $darkLight-color !important;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
