<div class="container">

  <div class="row">
    <div class="col-lg-12 text-center">
      <mat-card class="bg-darklight mt-5 text-white">
        <mat-card-header>
          <mat-card-title>Action socket on {{dccName}} </mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <mat-form-field appearance="fill" autocomplete="off">
            <mat-label class="text-white">Dccs Action</mat-label>
            <mat-select (selectionChange)="onChangeDccActions($event.value)">
              <mat-option *ngFor="let dccAction of dccActions" [value]="dccAction">
                {{dccAction}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <p>You selected: {{actionSelected}}</p>

          <div *ngIf="actionData != null" class="text-white">
            <ng-container *ngFor="let obj of actionData.params">

              <mat-form-field *ngIf="obj.type == 'string'" appearance="fill" class="mr-2" autocomplete="off">
                <input  matInput placeholder="{{obj.name}}" [(ngModel)]="obj.default" required>
              </mat-form-field>

              <mat-form-field *ngIf="obj.type == 'int'" appearance="fill" class="mr-2" autocomplete="off">
                <input matInput type="number" placeholder="{{obj.name}}" [(ngModel)]="obj.default" required>
              </mat-form-field>

              <mat-form-field *ngIf="obj.type == 'float'" appearance="fill" class="mr-2" autocomplete="off">
                <input matInput placeholder="{{obj.name}}" [(ngModel)]="obj.name" required>
              </mat-form-field>

              <mat-form-field *ngIf="obj.type == 'array:string'" appearance="fill" class="mr-2">
                <input matInput placeholder="{{obj.name}} array" [(ngModel)]="obj.default" required>
              </mat-form-field>
            </ng-container>
          </div>




        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="run()" class="bg-dark text-white">Run</button>
        </mat-card-actions>


      </mat-card>
    </div>
  </div>

  <div class="container">

    <div class="row">
      <div class="col-lg-12 text-center ">
        <mat-card class="bg-darklight mt-5 text-white">
          <mat-card-header>
            <div mat-card-avatar class="header-image"></div>
            <mat-card-title>Plain command </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-form-field appearance="fill" style="width:100%">
              <mat-label class="text-white">Python Command</mat-label>
              <textarea matInput placeholder="print('test')" [(ngModel)]="message" ></textarea>
            </mat-form-field>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="sendCommand()" class="bg-dark text-white">SendCommand</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
