<section class="bg-dark text-white" id="main">
  <div class="container">
    <div class="row">
     <div class="mx-auto text-center">
      
        <button class="bg-primary center col-lg-12 mb-5" mat-button (click)="resolve()">Refresh</button>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
        <div class="col-lg-4"  *ngFor="let obj of objects let i = index">
          
           <!-- if reachable block -->
          <mat-card *ngIf="obj.reachable; else elseBlock "class="bg-enable text-white mb-4">
            <mat-card-header>
              <div mat-card-avatar class=""><fa-icon [icon]="faTerminal"></fa-icon></div>
              <mat-card-title>{{ obj.filename }}</mat-card-title>
              <mat-card-subtitle>{{ obj.reachable }}</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
              <p> TODO content</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button [routerLink]="['/socket/maya', obj.port]" class="bg-dark">Open</button>
            </mat-card-actions>
          </mat-card>

          <!-- else block -->
          <ng-template #elseBlock>
          <mat-card  class="bg-disable text-white mb-4">
            <mat-card-header>
              <div mat-card-avatar class=""><fa-icon [icon]="faTerminal"></fa-icon></div>
              <mat-card-title>{{ obj.port }}</mat-card-title>
              <mat-card-subtitle>unavailable</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p> TODO content</p>
            </mat-card-content>

            <mat-card-actions>
              <button mat-button (click)="Open"class="bg-dark">Open</button>
            </mat-card-actions>

          </mat-card>
        </ng-template>
        </div>


        <!--
        <mat-card class="bg-darklight mt-5 mb-4 text-white">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Client Socket Home</mat-card-title>
            <mat-card-subtitle>test</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <mat-form-field appearance="fill" class="mr-2">
              <input matInput placeholder="@" [(ngModel)]="host" required>
            </mat-form-field>

            <mat-form-field appearance="fill" class="mr-2">
              <input matInput type="number" placeholder="8000" [(ngModel)]="port" required>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Maya command</mat-label>
              <textarea matInput placeholder="import maya" [(ngModel)]="message"></textarea>
            </mat-form-field>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="Resolve()">Resolve</button>
            <button mat-button (click)="sendMessage()">Exec</button>
            <p>{{getData()}} aaa </p>
          </mat-card-actions>
        </mat-card>-->
      </div>

  </div>
</section>