$dark-color : #161718;
$darkLight-color : #181a1b;
$primary-color : #16814f; 
$text-color : #8e9081;
$text-white : #ffffff;

.bg-darklight{
    background: $darkLight-color;
}
.bg-dark{
    background: $dark-color !important;
}
.bg-primary{
    background: $primary-color;
}
.text-color{
    color: $text-color;
}

.text-white{
    color: $text-white !important;
}





.row,
.row > .column {
    padding: 8px;
}