<section class="bg-darklight text-white" id="main">
  <div class="container">
    <div class="row">
      <div class="mx-auto text-center">
        <button mat-icon-button color="primary" (click)="resolve()" aria-label="Refresh" matTooltip="Refresh">
          <mat-icon>sync</mat-icon>
        </button>
      </div>
     
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      <mat-progress-bar *ngIf="!objects;" mode="indeterminate"></mat-progress-bar>
      <div *ngIf="objects;" class="col-lg-12 col-md-12">
        <mat-card  class=" text-white mb-4 bg-dark">
          <mat-card-header>
            <img mat-card-avatar src="../../../assets/socket/dccs_logo/Maya_Logo_45x45.png" />
            <mat-card-title>Maya</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div *ngIf="objects.houdiniDatas.length==0;" class="col-md-12 text-center text-white">
              <h5> No connections found :( </h5>
            </div>
            <div *ngIf="objects.houdiniDatas.length>0;" class="col-lg-12  mb-3 mt-3">
            <table mat-table [dataSource]="objects.mayaDatas" class="mat-elevation-z8 bg-darklight" style="width: 100%;"> 
              <ng-container matColumnDef="fileName">
                <th mat-header-cell *matHeaderCellDef class="text-color"> Filename </th>
                <td mat-cell *matCellDef="let obj " class="text-white"> {{obj.filename}} </td>
              </ng-container>

              <ng-container matColumnDef="port">
                <th mat-header-cell *matHeaderCellDef class="text-color"> Port </th>
                <td mat-cell *matCellDef="let obj" class="text-white"> {{obj.port}} </td>
              </ng-container>

              <ng-container matColumnDef="reachable">
                <th mat-header-cell *matHeaderCellDef class="text-color"> Reachable </th>
                <td mat-cell *matCellDef="let obj" class="text-white"> 
                  <span *ngIf="obj.reachable;" class="badge bg-success anim-online">Online</span>
                  <span *ngIf="!obj.reachable;" class="badge bg-anger">Offline</span>
                </td>
              </ng-container>

              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef class="text-color"> Actions </th>
                <td mat-cell *matCellDef="let obj"> 
                  <button mat-icon-button color="primary" [routerLink]="['/socket/dcc', obj.port, 'maya']" aria-label="Open" matTooltip="Open">
                    <mat-icon>open_in_new</mat-icon>
                  </button>
                  <button mat-icon-button color="primary" (click)="restartDccServer(obj.port)" aria-label="Open" matTooltip="Restart Server">
                    <mat-icon>refresh</mat-icon>
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>


    <div class="row">
      <div *ngIf="objects;" class="col-lg-12 col-md-12">
        <mat-card  class=" text-white mb-4 bg-dark">
          <mat-card-header>
            <img mat-card-avatar src="../../../assets/socket/dccs_logo/Houdini_Logo_45x45.png" />
            <mat-card-title>Houdini</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div *ngIf="objects.houdiniDatas.length==0;" class="col-md-12 text-center text-white">
              <h5> No connections found :( </h5>
            </div>
            <div *ngIf="objects.houdiniDatas.length>0;" class="col-lg-12  mb-3 mt-3">
            <table  mat-table [dataSource]="objects.houdiniDatas" class="mat-elevation-z8 bg-darklight" style="width: 100%;"> 
              <ng-container matColumnDef="fileName">
                <th mat-header-cell *matHeaderCellDef class="text-color"> Filename </th>
                <td mat-cell *matCellDef="let obj " class="text-white"> {{obj.filename}} </td>
              </ng-container>

              <ng-container matColumnDef="port">
                <th mat-header-cell *matHeaderCellDef class="text-color"> Port </th>
                <td mat-cell *matCellDef="let obj" class="text-white"> {{obj.port}} </td>
              </ng-container>

              <ng-container matColumnDef="reachable">
                <th mat-header-cell *matHeaderCellDef class="text-color"> Reachable </th>
                <td mat-cell *matCellDef="let obj" class="text-white"> 
                  <span *ngIf="obj.reachable;" class="badge bg-success anim-online">Online</span>
                  <span *ngIf="!obj.reachable;" class="badge bg-anger">Offline</span>
                </td>
              </ng-container>

              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef class="text-color"> Actions </th>
                <td mat-cell *matCellDef="let obj"> 
                  <button mat-icon-button color="primary" [routerLink]="['/socket/dcc', obj.port, 'houdini']" aria-label="Open" matTooltip="Open">
                    <mat-icon>open_in_new</mat-icon>
                  </button>
                  <button mat-icon-button color="primary" (click)="restartDccServer(obj.port)" aria-label="Open" matTooltip="Restart Server">
                    <mat-icon>refresh</mat-icon>
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</section>