<top-nav-component></top-nav-component>

<section class="bg-darklight text-white mt-5" id="main">
  <div class="container">
    <div class="row">
        <mat-card  class=" text-white mb-4 bg-dark">
          <mat-card-header>
            <mat-card-title>Settings</mat-card-title>
          </mat-card-header>

          <mat-card-content>
            
            

          </mat-card-content>

          <mat-card-actions>
            <button mat-button (click)="saveSettings()" class="bg-darklight text-white">Save</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
</section>